<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.discord" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.instagram.android" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.microsoft.office.outlook" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.twitter.android" />
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".Calendar.CalendarTODOActivity"
            android:exported="false"
            android:parentActivityName=".MainScreen.ApiAppsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Calendar.CalendarWeekActivity"
            android:exported="false"
            android:parentActivityName=".Calendar.CalendarTODOActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Calendar.EventDetailsActivity"
            android:exported="false"
            android:parentActivityName=".Calendar.CalendarTODOActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Calendar.DailyActivity"
            android:exported="false"
            android:parentActivityName=".Calendar.CalendarTODOActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Crypto.CryptoCurrencyActivity"
            android:exported="true"
            android:parentActivityName=".MainScreen.ApiAppsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainScreen.ApiAppsActivity"
            android:exported="false"
            android:parentActivityName=".MainScreen.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainScreen.MenuActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainScreen.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".News.NewsDetailsActivity"
            android:exported="false"
            android:parentActivityName=".News.NewsMainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationListener.NotificationActivity"
            android:exported="true"
            android:parentActivityName=".MainScreen.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".NotificationListener.NotificationWatcher"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".NotificationListener.AddApplicationActivity"
            android:exported="false"
            android:parentActivityName=".NotificationListener.NotificationSettings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationListener.DeleteApplicationActivity"
            android:exported="false"
            android:parentActivityName=".NotificationListener.NotificationSettings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationListener.NotificationSettings"
            android:exported="false"
            android:parentActivityName=".NotificationListener.NotificationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".WeatherData"
            android:exported="false"
            android:parentActivityName=".WeatherActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SearchCityActivity"
            android:exported="false"
            android:parentActivityName=".WeatherActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WeatherActivity"
            android:exported="false"
            android:parentActivityName=".MainScreen.ApiAppsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".News.NewsMainActivity"
            android:exported="false"
            android:parentActivityName=".MainScreen.ApiAppsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainScreen.SignInActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainScreen.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>